<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.pushtest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".App"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <!--配置友盟的第三方的APPKEY-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="580967ff734be44505002371">
        </meta-data>
        <!--配置友盟的推送服务-->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="62abb5dae35293461f738b86980fbfe5">
        </meta-data>
        <!--设置友盟的渠道-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="yingyongbao" >
        </meta-data>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>